body {
    margin: 60px auto;
    width: 70%;
    font-size: 0.7em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 0.7em
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
button {
    margin-left: 10px;
    font-family:'Helvetica';
    border: 1px solid #999;
    background-color:#FFFFF;
    padding: 3px;
    margin: 2px 1px;
    transition-duration: 0s;
    cursor: pointer;
    border-radius: 8px;
}
button:hover {
    background-color: #e7e7e7;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
