@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


ul.topnav {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
 }
  
ul.topnav li {float: left;}
  
ul.topnav li a {
    display: block;
    color: rgb(124, 213, 255);
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(255, 205, 205);}
  
ul.topnav li a.active {background-color: rgb(76, 168, 175);}
  
ul.topnav li.right {float: right;}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


img.avatar {
   margin-bottom: 30px;
}
.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
footer {
    border-top: 1px solid rgb(124, 213, 255);
    font-size: .8em;
}

footer ul a {
    display: block;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none  
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
