<!DOCTYPE html>
	<html lang="en-UK">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to cv stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/cv.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		</head>
		<body>
			<div class="header">
			<ul class="nav nav-pills pull-left">
			<li class="active">
			<a href="/" title="Home">Home</a>
			<a href="/about" title="About">About</a>
			<a href="/cv" title="CV">CV</a>
			<a href="/blog" title="Blog">Blog</a>
			</li>
			<!-- <li class="passive"><a href="/projects" title="Projects">Projects</a>
			</li> -->
			</ul>
			</div>

			<div class="container">
				<a href="/files/Academic-CV.pdf" class="btn btn-default pull-right" title="Download CV as PDF">Download CV</a>	
			
			{{ content }}
			
			</div>
			
			<!-- /.container -->


			<!--The footer for website-->
			<div class="footer">
				<ul class="nav nav-pills centre">
				<li class="active">
					<a href="mailto:ciwhite@tcd.ie">
						<img src="gmail.png" alt="Email Icon" style="width:25px;height:25px;border:0;">
					</a>
					<a href="https://github.com/ciwhite">
						<img src="github.png" alt="Github Icon" style="width:25px;height:25px;border:0;">
					</a>
					<a href="https://twitter.com/Cian_De_Faoiche">
						<img src="twitter.png" alt="Twitter Icon" style="width:25px;height:25px;border:0;">
					</a>
				</li>
				</ul>
		</body>
	</html>
