<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Cian White</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
			<link href="/css/main.css" rel="stylesheet">

		</head>
		<body>

<!-- Navigation -->
<nav class="navbar navbar-md navbar-light bglight stick-top">
<div class="container-fluid">
	<ul>
		<a class="navbar-brand" href="/" title="Cian White">Cian White</a>	
		<a href="/about" title="About">About</a>
		<a href="/cv" title="CV">CV</a>
		<a href="/blog" title="Blog">Blog</a>
	</ul>
	<!--Brand and toggle get grouped for better mobile display-->
	<div class="navbar-header page-scroll">
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
		data-target="#navbarResponsive">
		<span class="sr-only">Toggle Navigation</span>
		<span class="navbar-toggle-icon"></span>
		<span class="navbar-toggle-icon"></span>
		<span class="navbar-toggle-icon"></span>
		</button>
	<!--Collecting the nav links,forms and other content for toggling-->
	<ul class="navbar-nav ml-auto">
		<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="nav navbar-nav navbar-right">
		<li  class="nav-item active">
			<a class="nav-link" href="/projects" title="Projects">Projects</a>
		</li>
		<li  class="nav-item active">
			<a class="nav-link" href="/RNotebooks" title="RNotebooks">RNotebooks</a>
		</li>
	</ul>
	</div>
</div>
</nav>

<!--- About Section -->

<section id="about" class="first">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
				<p class="lead">
					Hi there! I'm a Phd Student at the <a href="https://www.tcd.ie/Botany/">Botany Department</a> of Trinity College Dublin, supervised by Professor <a href="https://www.tcd.ie/Botany/people/stoutj/">Jane Stout</a> and Dr. <a href="https://www.tcd.ie/Botany/people/colliema/"> Marcus Collier</a>. I'm an ecologist with an interest in networks, ecosystem services and generally all things data science. I currently live in Dublin, but orginally hail from Athlone.
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
				<img src="/images/profile.jpg" alt="Profile Picture" style="width:200px;height:200px;border:0;">
			</div>

		</div>
	</div>
</section>


			<div class="container">
			
				{{ content }}




<!--- Jumbotron -->


<!--- Welcome Section -->

			
			
			<!-- /.container -->

			<!--The footer for website-->
			<footer>
				<ul class="nav nav-pills centre">
				<li class="active">
					<a href="mailto:ciwhite@tcd.ie">
						<img src="/images/gmail.png" alt="Email Icon" style="width:25px;height:25px;border:0;">
					</a>
					<a href="https://github.com/ciwhite">
						<img src="/images/github.png" alt="Github Icon" style="width:25px;height:25px;border:0;">
					</a>
					<a href="https://twitter.com/Cian_De_Faoiche">
						<img src="/images/twitter.png" alt="Twitter Icon" style="width:25px;height:25px;border:0;">
					</a>
				</li>
				</ul>
			</footer>
		</body>
	</html>
