<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
			<link href="/css/main.css" rel="stylesheet">

		</head>
		<body>

<!-- Navigation -->
<nav class="navbar navbar-md navbar-light bglight stick-top">
<div class="container-fluid">
	<ul>
		<a href="/" title="Home">Home</a>	
		<a href="/about" title="About">About</a>
		<a href="/cv" title="CV">CV</a>
		<a href="/blog" title="Blog">Blog</a>
	</ul>
	<ul class="navbar-nav ml-auto">
	<button class="navbar-toggler" type="button" data-toggle="collapse" 
	data-target="#navbarResponsive">
	<span class="navbar-toggle-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<li  class="nav-item active">
			<a class="nav-link" href="/projects" title="Projects">Projects</a>
		</li>
		<li  class="nav-item active">
			<a class="nav-link" href="/RNotebooks" title="RNotebooks">RNotebooks</a>
		</li>
	</ul>
	</div>
</div>
</nav>



			<div class="container">
			
				{{ content }}

dummy text banter
<!--- Image Slider -->


<!--- Jumbotron -->


<!--- Welcome Section -->

			
			
			<!-- /.container -->

			<!--The footer for website-->
			<footer>
				<ul class="nav nav-pills centre">
				<li class="active">
					<a href="mailto:ciwhite@tcd.ie">
						<img src="/images/gmail.png" alt="Email Icon" style="width:25px;height:25px;border:0;">
					</a>
					<a href="https://github.com/ciwhite">
						<img src="/images/github.png" alt="Github Icon" style="width:25px;height:25px;border:0;">
					</a>
					<a href="https://twitter.com/Cian_De_Faoiche">
						<img src="/images/twitter.png" alt="Twitter Icon" style="width:25px;height:25px;border:0;">
					</a>
				</li>
				</ul>
			</footer>
		</body>
	</html>
