<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Cian White</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
			<link href="/css/main.css" rel="stylesheet">

		</head>
		<body>

<!-- Navigation -->
<ul class="topnav">
	<li><a class="active" href="/" title="Cian White">Home</a></li>
	<li><a href="/about" title="About">About</a></li>
	<li><a href="/cv" title="CV">CV</a></li>
	<li><a href="/blog" title="Blog">Blog</a></li>
	<li  class="right"><a href="/projects.html" title="Projects">Projects</a></li>
	<li  class="right">	<a href="/notebooks.html" title="RNotebooks">RNotebooks</a></li>
</ul>


			<div class="container">
			
				{{ content }}




<!--- Jumbotron -->


<!--- Welcome Section -->

			
			
			<!-- /.container -->

			<!--The footer for website-->
			<footer>
				<ul class="footer" style="text-align: center; padding: 35px 50px;">   
					<a href="mailto:ciwhite@tcd.ie">
						<img src="/images/gmail.png" alt="Email Icon" style="width:35px;height:35px;border:0">
					</a>
					<a href="https://github.com/ciwhite">
						<img src="/images/github.png" alt="Github Icon" style="width:35px;height:35px;border:0;">
					</a>
					<a href="https://twitter.com/Cian_De_Faoiche">
						<img src="/images/twitter.png" alt="Twitter Icon" style="width:35px;height:35px;border:0;">
					</a>
				
				</ul>
			</footer>
		</body>
	</html>
